{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avast statistics</title>
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
    <div class="col">
        <div class="menu">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>

    <div class="content">
        {% for image in images %}
            <div class="canvas">
                {% if image.title != "" %}
                    <div class="text-container">
                    <div class="row">
                        <h2>{{ image.title }}</h2>
                    </div>
                    </div>
                {% endif %}

                {% if image.img != "" %}
                    <div class="img-container">
                        <img src={% static image.img %}>
                    </div>
                {% endif %}

            <div class="text-container">
                {% if image.text != "" %}
                    <div class="row">
                    <h3>{{ image.text }}</h3>
                    </div>
                {% endif %}

                {% if image.table != "" %}
                    <div class="row">
                        <table>
                            <tr>
                            {% for el in image.table_title %}
                                <th>{{ el }}</th>
                            {% endfor %}
                            </tr>
                            {% for row in image.table %}
                                <tr>
                                    {% for el in row %}
                                        <td>{{ el }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
            </div>
        {% endfor %}
    </div>

    <div class="col">

    </div>
</body>
</html>