{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avast statistics</title>
    <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <div class="col">
        <div class="menu">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>

    <div class="content">
        {% for image in images %}
            <div class="canvas">
            <div class="img-container">
                <img src={% static image.img %}>
            </div>
            <div class="text-container">
                <div class="row">
                    {{ image.text }}
                </div>
                <div class="row">
                {% if image.is_table %}
                    <table>
                        <tr>
                        {% for el in image.table_title %}
                            <th>{{ el }}</th>
                        {% endfor %}
                        </tr>
                        {% for row in image.table %}
                            <tr>
                                {% for el in row %}
                                    <td>{{ el }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}

        <div class="canvas">
            {{ text }}
        </div>
    </div>

    <div class="col">

    </div>
</body>
</html>